.jt-input {
  --jt-input-text-color: var(--jt-text-color-regular);
  --jt-input-border: var(--jt-border);
  --jt-input-hover-border: var(--jt-border-color-hover);
  --jt-input-focus-border: var(--jt-color-primary);
  --jt-input-transparent-border: 0 0 0 1px transparent inset;
  --jt-input-border-color: var(--jt-border-color);
  --jt-input-border-radius: var(--jt-border-radius-base);
  --jt-input-bg-color: var(--jt-fill-color-blank);
  --jt-input-icon-color: var(--jt-text-color-placeholder);
  --jt-input-placeholder-color: var(--jt-text-color-placeholder);
  --jt-input-hover-border-color: var(--jt-border-color-hover);
  --jt-input-clear-hover-color: var(--jt-text-color-secondary);
  --jt-input-focus-border-color: var(--jt-color-primary);
}

.jt-input {
  --jt-input-height: var(--jt-component-size);
  position: relative;
  font-size: var(--jt-font-size-base);
  display: inline-flex;
  width: 100%;
  line-height: var(--jt-input-height);
  box-sizing: border-box;
  vertical-align: middle;
  &.is-disabled {
    cursor: not-allowed;
    .jt-input__wrapper {
      background-color: var(--jt-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--jt-disabled-border-color) inset;
    }
    .jt-input__inner {
      color: var(--jt-disabled-text-color);
      -webkit-text-fill-color: var(--jt-disabled-text-color);
      cursor: not-allowed;
    }
    .jt-textarea__inner {
      background-color: var(--jt-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--jt-disabled-border-color) inset;
      color: var(--jt-disabled-text-color);
      -webkit-text-fill-color: var(--jt-disabled-text-color);
      cursor: not-allowed;
    }
  }
  &.is-prepend {
    > .jt-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.is-append {
    > .jt-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.jt-input--large {
  --jt-input-height: var(--jt-component-size-large);
  font-size: 14px;
  .jt-input__wrapper {
    padding: 1px 15px;
    .jt-input__inner {
      --jt-input-inner-height: calc(var(--jt-input-height, 40px) - 2px);
    }
  }
}
.jt-input--small {
  --jt-input-height: var(--jt-component-size-small);
  font-size: 12px;
  .jt-input__wrapper {
    padding: 1px 7px;
    .jt-input__inner {
      --jt-input-inner-height: calc(var(--jt-input-height, 24px) - 2px);
    }
  }
}
.jt-input__prefix,
.jt-input__suffix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--jt-input-icon-color, var(--jt-text-color-placeholder));
  transition: all var(--jt-transition-duration);
}
.jt-input__prefix {
  > :first-child {
    margin-left: 0px !important;
  }
  > :last-child {
    margin-right: 8px !important;
  }
}
.jt-input__suffix {
  > :first-child {
    margin-left: 8px !important;
  }
  > :last-child {
    margin-right: 0px !important;
  }
}
.jt-input__prepend,
.jt-input__append {
  background-color: var(--jt-fill-color-light);
  color: var(--jt-color-info);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  border-radius: var(--jt-input-border-radius);
  padding: 0 20px;
  white-space: nowrap;
}
.jt-input__prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 1px 0 0 0 var(--jt-input-border-color) inset,
    0 1px 0 0 var(--jt-input-border-color) inset,
    0 -1px 0 0 var(--jt-input-border-color) inset;
}
.jt-input__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 0 var(--jt-input-border-color) inset,
    0 -1px 0 0 var(--jt-input-border-color) inset,
    -1px 0 0 0 var(--jt-input-border-color) inset;
  & > .jt-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.jt-input--textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: var(--jt-font-size-base);
}
.jt-textarea__wrapper {
  position: relative;
  display: block;
  resize: vertical;
  padding: 5px 11px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: var(--jt-input-text-color, var(--jt-text-color-regular));
  background-color: var(--jt-input-bg-color, var(--jt-fill-color-blank));
  background-image: none;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px var(--jt-input-border-color, var(--jt-border-color))
    inset;
  border-radius: var(--jt-input-border-radius, var(--jt-border-radius-base));
  transition: var(--jt-transition-box-shadow);
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--jt-input-focus-border-color) inset;
  }
  &::placeholder {
    color: var(--jt-input-placeholder-color);
  }
}
.jt-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: var(--jt-input-bg-color, var(--jt-fill-color-blank));
  background-image: none;
  border-radius: var(--jt-input-border-radius, var(--jt-border-radius-base));
  transition: var(--jt-transition-box-shadow);
  box-shadow: 0 0 0 1px var(--jt-input-border-color, var(--jt-border-color))
    inset;
  &:hover {
    box-shadow: 0 0 0 1px var(--jt-input-hover-border-color) inset;
  }
  &.is-focus {
    box-shadow: 0 0 0 1px var(--jt-input-focus-border-color) inset;
  }
  .jt-input__inner {
    --jt-input-inner-height: calc(var(--jt-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: var(--jt-input-text-color, var(--jt-text-color-regular));
    font-size: inherit;
    height: var(--jt-input-inner-height);
    line-height: var(--jt-input-inner-height);
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    &::placeholder {
      color: var(--jt-input-placeholder-color);
    }
  }

  .jt-icon {
    height: inherit;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--jt-transition-duration);
    margin-left: 8px;
  }
  .jt-input__clear,
  .jt-input__password {
    color: var(--jt-input-icon-color);
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: var(--jt-input-clear-hover-color);
    }
  }
}
.jt-input__inner::-ms-reveal,
.jt-input__inner::-ms-clear {
  display: none;
}

.jt-input__inner::-webkit-credentials-auto-fill-button,
.jt-input__inner::-webkit-clear-button {
  display: none;
}
